# Intended for use with https://direnv.net/

# For a local dev setup, we want to use HTTPS + self-signed certs and hence skip TLS verify
export NOMAD_ADDR=https://localhost:4646
export NOMAD_SKIP_VERIFY=True

